body {
  margin: 0 auto;
}

#titleText {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #0dcaf0, darkblue);
}

#forecastContainer {
  justify-content: space-evenly;
}

.btn:hover {
  background-color: deepskyblue;
}

.low {
  background-color: rgb(0, 255, 0);
}

.moderate {
  background-color: rgb(218, 206, 32);
}

.high {
  background-color: rgb(139, 0, 0);
}
